%start S

###############
#  Grammaire  #
###############

# S = sujet + verbe
S[SEM=<app(?vp, ?np)>] -> NP[SEM=?np] VP[SEM=?vp]

# VP = verbe + complément d'objet direct, ex. "boire un café"
VP[SEM=<app(?v, ?np)>] -> V[SEM=?v, TNS=pre] NP[SEM=?np, GND=?gender, NUM=?number]

# VP = verbe + complément d'objet indirect, ex. "vivre dans une maison"
VP[SEM=<app(?v, ?pp)>] -> V[SEM=?v, TNS=pre] PP[SEM=?pp, GND=?gender, NUM=?number]

# VP = verbe + groupe adverbiale, ex. "vivre juste a côté"
VP[SEM=<app(?v, ?adverbe)>] -> V[SEM=?v, TNS=pre] GADV[SEM=?adverbe]

# VP = verbe seul, ex. "mange"
VP[SEM=?v] -> V[SEM=?v, TNS=pre]

# NP = déterminant-NP, ex. "le café"
NP[SEM=?np, GND=?gender, NUM=?number] -> DET[GND=?gender, NUM=?number] NP[SEM=?np, GND=?gender, NUM=?number]

# NP = qui-VP, ex. "personne qui mange"
NP[SEM=<app(?relation, ?n)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] GPRELAT[SEM=?relation]

# NP = nom commun avec groupe adverbiale, ex. "chien comme ton pere"
NP[SEM=<app(?adverbe, ?n)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] GADV[SEM=?adverbe]

# NP = nom commun avec groupe prepositionnelle, ex. "bleu et vert"
NP[SEM=<app(?n, ?pp)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] PP[SEM=?pp]

# NP = nom avec adjectif, ex. "maison rouge"
NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] ADJ[SEM=?adj, GND=?gender, NUM=?number]

# NP = nom avec adjectif et continuite PP, ex. "maison rouge et"
NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number] ADJ[SEM=?adj, GND=?gender, NUM=?number] PP[SEM=?pp]

# NP = adjectif avec continuité NP, ex. "première maison"
NP[SEM=<app(?n, ?adj)>, GND=?gender, NUM=?number] -> ADJ[SEM=?adj, GND=?gender, NUM=?number] NP[SEM=?n, GND=?gender, NUM=?number]

# NP = adjectif avec continuité PP, ex. "jaune et"
NP[SEM=<app(?pp, ?adj)>, GND=?gender, NUM=?number] -> ADJ[SEM=?adj, GND=?gender, NUM=?number] PP[SEM=?pp, GND=?gender, NUM=?number]

# NP = adjectif, ex. "rouge"
NP[SEM=?n, GND=?gender, NUM=?number] -> ADJ[SEM=?n, GND=?gender, NUM=?number]

# NP = nom commun, ex. "café"
NP[SEM=?n, GND=?gender, NUM=?number] -> N[SEM=?n, GND=?gender, NUM=?number]

# NP = nom propre, ex. "Jean"
NP[SEM=?nprop, GND=?gender, NUM=?number] -> NPROP[SEM=?nprop, GND=?gender]

# PP = groupe-nom précédé d'une préposition, ex. "dans une maison"
PP[SEM=?np, GND=?gender, NUM=?number] -> PREP[NUM=?number] NP[SEM=?np, GND=?gender, NUM=?number]

# PP = nouvelle phrase précédé d'une préposition, ex. "je vis dans une maison et je mange des bananes"
PP[SEM=?s] -> PREP[] S[SEM=?s]

# GPRELAT = groupe relationnel(qui/que) ex: "que je mange", "qui boit"
GPRELAT[SEM=?vp] -> PRELAT VP[SEM=?vp]
GPRELAT[SEM=?s] -> PRELAT S[SEM=?s]

# GADV = groupe adverbiale
GADV[SEM=?np] -> ADV NP[SEM=?np, GND=?gen, NUM=?num]
GADV[SEM=?np] -> ADV PP[SEM=?np]







###############
# Vocabulaire #
###############

ADJ[SEM=<blanc>,GND=m, NUM=sg] -> 'blanc'
ADJ[SEM=<blanche>,GND=f, NUM=sg] -> 'blanche'
ADJ[SEM=<blancs>,GND=m, NUM=pl] -> 'blancs'
ADJ[SEM=<blanches>,GND=f, NUM=pl] -> 'blanches'
ADJ[SEM=<bleu>,GND=m, NUM=sg] -> 'bleu'
ADJ[SEM=<bleue>,GND=f, NUM=sg] -> 'bleue'
ADJ[SEM=<bleus>,GND=m, NUM=pl] -> 'bleus'
ADJ[SEM=<bleues>,GND=f, NUM=pl] -> 'bleues'
ADJ[SEM=<jaune>,GND=m, NUM=sg] -> 'jaune'
ADJ[SEM=<jaune>,GND=f, NUM=sg] -> 'jaune'
ADJ[SEM=<jaunes>,GND=m, NUM=pl] -> 'jaunes'
ADJ[SEM=<jaunes>,GND=f, NUM=pl] -> 'jaunes'
ADJ[SEM=<noir>,GND=m, NUM=sg] -> 'noir'
ADJ[SEM=<noire>,GND=f, NUM=sg] -> 'noire'
ADJ[SEM=<noirs>,GND=m, NUM=pl] -> 'noirs'
ADJ[SEM=<noires>,GND=f, NUM=pl] -> 'noires'
ADJ[SEM=<rose>,GND=m, NUM=sg] -> 'rose'
ADJ[SEM=<rose>,GND=f, NUM=sg] -> 'rose'
ADJ[SEM=<roses>,GND=m, NUM=pl] -> 'roses'
ADJ[SEM=<roses>,GND=f, NUM=pl] -> 'roses'
ADJ[SEM=<rouge>,GND=m, NUM=sg] -> 'rouge'
ADJ[SEM=<rouge>,GND=f, NUM=sg] -> 'rouge'
ADJ[SEM=<rouges>,GND=m, NUM=pl] -> 'rouges'
ADJ[SEM=<rouges>,GND=f, NUM=pl] -> 'rouges'
ADJ[SEM=<vert>,GND=m, NUM=sg] -> 'vert'
ADJ[SEM=<verte>,GND=f, NUM=sg] -> 'verte'
ADJ[SEM=<verts>,GND=m, NUM=pl] -> 'verts'
ADJ[SEM=<vertes>,GND=f, NUM=pl] -> 'vertes'
ADJ[SEM=<domestique>,GND=m, NUM=sg] -> 'domestique'
ADJ[SEM=<domestique>,GND=f, NUM=sg] -> 'domestique'
ADJ[SEM=<domestiques>,GND=m, NUM=pl] -> 'domestiques'
ADJ[SEM=<domestiques>,GND=f, NUM=pl] -> 'domestiques'
ADJ[SEM=<premier>, GND=m, NUM=sg] -> 'premier'
ADJ[SEM=<première>, GND=f, NUM=sg] -> 'première'
ADJ[SEM=<premiers>, GND=m, NUM=pl] -> 'premiers'
ADJ[SEM=<premières>, GND=f, NUM=pl] -> 'premières'

DET[GND=m, NUM=sg] -> 'l' | 'le' | 'un'
DET[GND=f, NUM=sg] -> 'l' | 'la' | 'une'
DET[GND=m, NUM=pl] -> 'les'
DET[GND=f, NUM=pl] -> 'les'

# Noms communs ayant seulement un genre
N[SEM=<animal>, GND=m, NUM=sg] -> 'animal'
N[SEM=<animaux>, GND=m, NUM=pl] -> 'animaux'
N[SEM=<homme>, GND=m, NUM=sg] -> 'homme'
N[SEM=<hommes>, GND=m, NUM=pl] -> 'hommes'
N[SEM=<jus>, GND=m, NUM=sg] -> 'jus'
N[SEM=<jus>, GND=m, NUM=pl] -> 'jus'
N[SEM=<bière>, GND=f, NUM=sg] -> 'bière'
N[SEM=<bières>, GND=f, NUM=pl] -> 'bières'
N[SEM=<licorne>, GND=f, NUM=sg] -> 'licorne'
N[SEM=<licornes>, GND=f, NUM=pl] -> 'licornes'
N[SEM=<eau>, GND=f, NUM=sg] -> 'eau'
N[SEM=<eaux>, GND=f, NUM=pl] -> 'eaux'
N[SEM=<orange>, GND=f, NUM=sg] -> 'orange'
N[SEM=<oranges>, GND=f, NUM=pl] -> 'oranges'
N[SEM=<couleur>, GND=f, NUM=sg] -> 'couleur'
N[SEM=<couleurs>, GND=f, NUM=pl] -> 'couleurs'
N[SEM=<cafe>, GND=m, NUM=sg] -> 'café'
N[SEM=<cafes>, GND=m, NUM=pl] -> 'cafés'
N[SEM=<homme>, GND=m, NUM=sg] -> 'homme'
N[SEM=<hommes>, GND=m, NUM=pl] -> 'hommes'
N[SEM=<licorne>, GND=f, NUM=sg] -> 'licorne'
N[SEM=<licornes>, GND=f, NUM=pl] -> 'licornes'
N[SEM=<maison>, GND=f, NUM=sg] -> 'maison'
N[SEM=<maisons>, GND=f, NUM=pl] -> 'maisons'
N[SEM=<oiseau>, GND=m, NUM=sg] -> 'oiseau'
N[SEM=<oiseaux>, GND=m, NUM=pl] -> 'oiseaux'
N[SEM=<personne>, GND=f, NUM=sg] -> 'personne'
N[SEM=<personnes>, GND=f, NUM=pl] -> 'personnes'
N[SEM=<prince>, GND=m, NUM=sg] -> 'prince'
N[SEM=<princes>, GND=m, NUM=pl] -> 'princes'
N[SEM=<the>, GND=m, NUM=sg] -> 'thé'
N[SEM=<thes>, GND=m, NUM=pl] -> 'thés'

# Noms communs pouvant être féminins ou masculins
#N[SEM=<blanc>,GND=m, NUM=sg] -> 'blanc'
#N[SEM=<jaune>,GND=m, NUM=sg] -> 'jaune'
#N[SEM=<noir>,GND=m, NUM=sg] -> 'noir'
#N[SEM=<rose>,GND=m, NUM=sg] -> 'rose'
#N[SEM=<rouge>,GND=m, NUM=sg] -> 'rouge'
#N[SEM=<vert>,GND=m, NUM=sg] -> 'vert'
#N[SEM=<bleu>,GND=m, NUM=sg] -> 'bleu'
N[SEM=<Allemand>, GND=m, NUM=sg] -> 'Allemand' | 'allemand'
N[SEM=<Allemande>, GND=f, NUM=sg] -> 'Allemande' | 'allemande'
N[SEM=<Allemands>, GND=m, NUM=pl] -> 'Allemands' | 'allemands'
N[SEM=<Allemandes>, GND=f, NUM=pl] -> 'Allemandes' | 'allemandes'
N[SEM=<Anglais>, GND=m, NUM=sg] -> 'Anglais' | 'anglais'
N[SEM=<Anglaise>, GND=f, NUM=sg] -> 'Anglaise' | 'anglaise'
N[SEM=<Anglais>, GND=m, NUM=pl] -> 'Anglais' | 'anglais'
N[SEM=<Anglaises>, GND=f, NUM=pl] -> 'Anglaises' | 'anglaises'
N[SEM=<chat>, GND=m, NUM=sg] -> 'chat'
N[SEM=<chatte>, GND=f, NUM=sg] -> 'chatte'
N[SEM=<chats>, GND=m, NUM=pl] -> 'chats'
N[SEM=<chattes>, GND=f, NUM=pl] -> 'chattes'
N[SEM=<voisin>, GND=m, NUM=sg] -> 'voisin'
N[SEM=<voisine>, GND=f, NUM=sg] -> 'voisine'
N[SEM=<voisins>, GND=m, NUM=pl] -> 'voisins'
N[SEM=<voisines>, GND=f, NUM=pl] -> 'voisines'
N[SEM=<celui>, GND=m, NUM=sg] -> 'celui'
N[SEM=<celle>, GND=f, NUM=sg] -> 'celle'
N[SEM=<ceux>, GND=m, NUM=pl] -> 'ceux'
N[SEM=<celles>, GND=f, NUM=pl] -> 'celles'
N[SEM=<propriétaire>, GND=m, NUM=sg] -> 'propriétaire'
N[SEM=<propriétaires>, GND=m, NUM=pl] -> 'propriétaires'
N[SEM=<propriétaire>, GND=f, NUM=sg] -> 'propriétaire'
N[SEM=<propriétaires>, GND=f, NUM=pl] -> 'propriétaires'
N[SEM=<cheval>, GND=m, NUM=sg] -> 'cheval'
N[SEM=<jument>, GND=f, NUM=sg] -> 'jument'
N[SEM=<chevaux>, GND=m, NUM=pl] -> 'chevaux'
N[SEM=<juments>, GND=f, NUM=pl] -> 'juments'
N[SEM=<chien>, GND=m, NUM=sg] -> 'chien'
N[SEM=<chienne>, GND=f, NUM=sg] -> 'chienne'
N[SEM=<chiens>, GND=m, NUM=pl] -> 'chiens'
N[SEM=<chiennes>, GND=f, NUM=pl] -> 'chiennes'
N[SEM=<Danois>, GND=m, NUM=sg] -> 'Danois' | 'danois'
N[SEM=<Danoise>, GND=f, NUM=sg] -> 'Danoise' | 'danoise'
N[SEM=<Danois>, GND=m, NUM=pl] -> 'Danois' | 'danois'
N[SEM=<Danoises>, GND=f, NUM=pl] -> 'Danoises' | 'danoises'
N[SEM=<Norvégien>, GND=m, NUM=sg] -> 'Norvégien' | 'norvégien'
N[SEM=<Norvégienne>, GND=f, NUM=sg] -> 'Norvégienne' | 'norvégienne'
N[SEM=<Norvégiens>, GND=m, NUM=pl] -> 'Norvégiens' | 'norvégiens'
N[SEM=<Norvégiennes>, GND=f, NUM=pl] -> 'Norvégiennes' | 'norvégiennes'
N[SEM=<Suédois>, GND=m, NUM=sg] -> 'Suédois' | 'suédois'
N[SEM=<Suédoise>, GND=f, NUM=sg] -> 'Suédoise' | 'suédoise'
N[SEM=<Suédois>, GND=m, NUM=pl] -> 'Suédois' | 'suédois'
N[SEM=<Suédoises>, GND=f, NUM=pl] -> 'Suédoises' | 'suédoises'

# Cas spéciaux de nom de localisation.
N[SEM=<gauche>, GND=m, NUM=sg] -> 'gauche'
N[SEM=<droite>, GND=m, NUM=sg] -> 'droite'
N[SEM=<centre>, GND=m, NUM=sg] -> 'centre'
N[SEM=<côté>, GND=m, NUM=sg] -> 'côté'

# Pronom
N[SEM=<il>, GND=m, NUM=sg] -> 'il'

NPROP[SEM=<Blend>, GND=f] -> 'Blend' | 'blend'
NPROP[SEM=<Jean>, GND=m] -> 'Jean' | 'jean'
NPROP[SEM=<Marie>, GND=m] -> 'Marie' | 'marie'
NPROP[SEM=<Pall_Mall>, GND=f] -> 'Pall_Mall' | 'pall_Mall'
NPROP[SEM=<Blue_Master>, GND=f] -> 'Blue_Master' | 'blue_Master'
NPROP[SEM=<Dunhill>, GND=f] -> 'Dunhill'  | 'dunhill'
NPROP[SEM=<Prince>, GND=f] -> 'Prince' | 'prince'

PREP[NUM=sg] -> 'dans' | 'à' | 'et' | 'de' | 'du' |'d'
PREP[NUM=pl] -> 'des' 

V[SEM=<\y.\x.avoir (x,y)>, TNS=pre] -> 'ai' | 'as' | 'a' | 'avons' | 'avez' | 'ont'
V[SEM=<\y.\x.boire (x,y)>, TNS=pre] -> 'bois' | 'boit'
V[SEM=<\y.\x.etre (x,y)>, TNS=pre] -> 'suis' | 'es' | 'est' | 'sommes' | 'êtes' | 'sont'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pre] -> 'fume' | 'fumes'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pre] -> 'habite' | 'habites'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pre] -> 'vis' | 'vit'
V[SEM=<\y.\x.boire (x,y)>, TNS=pastp, GND=m, NUM=sg] -> 'bu'
V[SEM=<\y.\x.boire (x,y)>, TNS=pastp, GND=f, NUM=sg] -> 'bue'
V[SEM=<\y.\x.boire (x,y)>, TNS=pastp, GND=m, NUM=pl] -> 'bus'
V[SEM=<\y.\x.boire (x,y)>, TNS=pastp, GND=f, NUM=pl] -> 'bues'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pastp, GND=m, NUM=sg] -> 'fumé'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pastp, GND=f, NUM=sg] -> 'fumée'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pastp, GND=m, NUM=pl] -> 'fumés'
V[SEM=<\y.\x.fumer (x,y)>, TNS=pastp, GND=f, NUM=pl] -> 'fumées'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pastp, GND=m, NUM=sg] -> 'habité'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pastp, GND=f, NUM=sg] -> 'habitée'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pastp, GND=m, NUM=pl] -> 'habités'
V[SEM=<\y.\x.habiter (x,y)>, TNS=pastp, GND=f, NUM=pl] -> 'habitées'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pastp, GND=m, NUM=sg] -> 'vécu'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pastp, GND=f, NUM=sg] -> 'vécue'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pastp, GND=m, NUM=pl] -> 'vécus'
V[SEM=<\y.\x.vivre (x,y)>, TNS=pastp, GND=f, NUM=pl] -> 'vécues'


PRELAT -> 'qui'
PRELAT -> 'que'

ADV -> 'comme' | 'juste'

AUXAV -> 'ai' | 'as' | 'a' | 'avons' | 'avez' | 'ont'
AUXET -> 'suis' | 'es' | 'est' | 'sommes' | 'êtes' | 'sont'


